<% include ./header.ejs %>

<form method="POST" action="index">
  <div class="pull-right">
      <input class="btn btn-default btn-danger" type="submit" value="Clear Database">
  </div>
</form>

<% include ./footer.ejs %>
