<% include ./header.ejs %>
<br>
<form method="POST" action="deleteBooks">
  <div class="pull-right">
      <input class="btn btn-default btn-danger" type="submit" value="Clear Database">
  </div>
</form>
<br>
<form method="POST" action="deleteCheckouts">
  <div class="pull-right">
      <input class="btn btn-default btn-danger" type="submit" value="Delete Checkouts">
  </div>
</form>

<% include ./footer.ejs %>
