<% include ./header.ejs %>

<form>
  <input name="title" type="String" class="form-control" value="Hunger game" style='display: none;'/>
  <input name="author" type="String" class="form-control" value="Suzzane" style='display: none;'/>
  <input name="desc" type="String" class="form-control" value="Girl on fire" style='display: none;'/>
  <input class="btn btn-default btn-warning" type="submit" value="Checkout">
</form>

<% include ./footer.ejs %>
