<% include ./header.ejs %>


<div class="container">
        <div class="row">



     <div class="row1">
         <div class="checkOut">
             <div class="col-sm-3 col-md-3">
                  <a href="#" class="thumbnail">
                    <img src = "">
                  </a>
                  <center>
                    <input id="checkout0" type="text" placeholder="barcode scan" onblur="setFocus()"/>
                  </center>
             </div>
              <div class="col-sm-9 col-md-9">
                  <div class="info">
                       <div class="col-sm-6 col-md-6">
                         <h1>Title:</h1>
                         <input class = "title0" type="text">
                                <h1> Author: </h1>
                         <input class = "author0" type="text">
                       </div>
                       <div class="col-sm-3 col-md-3">
                         <button type="button" class="btn btn-default btn-lg " aria-label="Left Align">
                              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                         <button type="button" class="btn btn-default btn-lg " aria-label="Left Align">
                              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                       </div>
                  </div>
              </div>
         </div>
     </div>








        </div>
    </div>

<button class="btn btn-default addBook">Add Book</button>



<form method="POST" action = "Checkout">
  <input name="title" type="String" class="form-control" value="Hunger game" style='display: none;'/>
  <input class="btn btn-default btn-warning" type="submit" value="Checkout">
</form>

<% include ./footer.ejs %>
