<% include ./header.ejs %>

<!-- GIVE SOME SPACE -->
<!-- NEXT UPDATE -->
<br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="http://www.clker.com/cliparts/e/2/0/0/1361307650244138878Open%20Blue%20Book.svg.med.png" />
    </div>
    
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
        State the library's hours<br/>
        Administrator email <br/>
        Form to submit question and etc. <br/>
    </div>
</div>

<% include ./footer.ejs %>