



<!-- Footer -->

<div class="menu-btn"></div>
<nav>
   <ul>
      <li class="line">
         <a href="/">HOME <span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="line">
         <a href="/user/signUp" class="account">ACCOUNT  <span class="glyphicon glyphicon-user"></span> </a>
      </li>
      <li class="line">
         <a href="/Library" class="library">LIBRARY  <span class="glyphicon glyphicon-book"></span> </a>
      </li>
      <li class="line">
         <a href="/Book/Add" class="search">ADD BOOK <span class="glyphicon glyphicon-search"></span></a>
      </li>
      <li class="line">
         <a href="/Checkout" class="checkout">CHECKOUT <span class="glyphicon glyphicon-ok-circle"></span></a>
      </li>
      <li class="line">
      </li>
      <li class="line">
      </li>
      <li class="line">
      </li>
      <li class="line">
      </li>
      <li class="line">
      </li>
   </ul>

</nav>
<footer id="colophon" class="" role="contentinfo">
  <center>
     <h1 class="page-header"><small>Partnerships</small></h1>
  </center>
  <center>
      <div class="col-sm-2 col-sm-offset-3">
          <a href="http://www.cypresshills.org" target="_blank"><img style="height: 100px;" alt="cypress-hills-logo" src="http://www.cypresshills.org/chw/wp-content/themes/parabola-nocopyrt/images/cypress-hills-ldc-logo.gif"/></a>
      </div>
      <div class="col-sm-2">
          <a href="http://www.aoiths.org" target="_blank"><img style="height: 100px;" alt="aoit-logo" src="/assets/aoit-logo.png"/></a>
      </div>
      <div class="col-sm-2">
          <a href="http://www.naf.org" target="_blank"><img style="height: 100px; width: 250px" alt="naf-logo" src="http://dcte.dadeschools.net/images/naflogos/ev-1.owa.jpeg"/></a>
      </div>
  </center>
</footer>
</body>
</html>
