<div id="page" class="hfeed site">
<header id="masthead" class="site-header" role="banner"></header>
<div id="content" class="site-content"></div>
<hr>
<footer>
   <div class="row">
      <div class="col-lg-12">
         <img src="http://www.cypresshills.org/chw/wp-content/themes/parabola-nocopyrt/images/cypress-hills-ldc-logo.gif" />
         <img src="http://dcte.dadeschools.net/images/naflogos/ev-1.owa.jpeg" />
         <br />
         <p>Copyright &copy; Your Website 2016</p>
      </div>
   </div>
</footer>
<!-- Footer -->

<div class="menu-btn"></div>
<nav>
   <ul>
      <li class="line">
         <a href="/">HOME <span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="line">
         <a href="/user/signUp" class="account">ACCOUNT  <span class="glyphicon glyphicon-user"></span> </a>
      </li>
      <li class="line">
         <a href="/Library" class="library">LIBRARY  <span class="glyphicon glyphicon-book"></span> </a>
      </li>
      <li class="line">
         <a href="/Book/Add" class="search">ADD BOOK <span class="glyphicon glyphicon-search"></span></a>
      </li>
      <li class="line">
         <a href="/Checkout" class="checkout">CHECKOUT <span class="glyphicon glyphicon-ok-circle"></span></a>
      </li>
   </ul>
   <div class="email-form">
      <h2>LOGIN TO YOUR EMAIL</h2>
      <form>
         <input type="email" class="field" placeholder="Enter your Email....">
         <button>Subscribe</button>
      </form>
   </div>
</nav>
<div class="container c2">
   <!-- <h2 align ="center"> Academy of Innovative Technology  </h2> -->
</div>
<div class="row">
   <!-- <div class="media">
      <a href="#">
        <img class="media-object" src="https://files.slack.com/files-pri/T1FTB710T-F1XTZ52PR/logo.gif" alt="...">
        </img>
      </a> -->
</div>
</body>
</html>
