
  <div id="page" class="hfeed site">

  <header id="masthead" class="site-header" role="banner"></header>

  <div id="content" class="site-content"></div>

  <hr>



      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                <img src="http://www.cypresshills.org/chw/wp-content/themes/parabola-nocopyrt/images/cypress-hills-ldc-logo.gif" />
                <img src="http://dcte.dadeschools.net/images/naflogos/ev-1.owa.jpeg" />
                <br />
                  <p>Copyright &copy; Your Website 2016</p>
              </div>
          </div>
      </footer>

    </div>
    <!-- /.container -->

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Brand" src="/assets/logo.png">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/book">Books</a></li>
            <li class="active"><a href="/book/Add">Submit</a></li>
            <li class="active"><a href="/checkout/cart">Checkout</a></li>

          </ul>

          <form class="navbar-form navbar-left">
            <!-- div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button-->
            <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/About">About</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="#">My Account</a></li>
            <li class="dropdown">
              <a href="#"
                class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">EN</a></li>
                <li><a href="#">SP</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

</body>
</html>
