  <!-- footer.ejs -->

    <div class="page-footer">
      <p>Partnerships</p>
      <br />

      <img alt="cypress-hills-logo" src="http://www.cypresshills.org/chw/wp-content/themes/parabola-nocopyrt/images/cypress-hills-ldc-logo.gif" />

      <img alt="naf-logo" src="http://dcte.dadeschools.net/images/naflogos/ev-1.owa.jpeg" />
      <img alt="naf-logo" src="/assets/logo.png" />
    </div> <!-- page-footer ends -->


  </div><!-- CONTAINER ENDS -->
</body>
</html>
