<% include ./header.ejs %>

    <div class = row>
    <% for(var i = 0; i < list.length; i++){ %>
      <div class = "col-md-4">
            <center>
              <h6>

                  <%= list[i].title %>
                  <form method="POST" action="removeGenre">
                    <input type = "hidden" value = '<%= list[i]._id %>' name = 'id'>
                    <button type="submit">X</button>
                  </form>
              </h6>
            </center>
      </div>
    <% } %>
    </div>
    <br>
    <form method="POST" action="addGenre">
      <input type="text" name = "title" placeholder = "title" />
      <br>
      <input type="submit"></input>
    </form>

  <% include ./footer.ejs %>
