<% include ./header.ejs %>

<center>
  <div class="container ">
    <h1>Most Checkedout Books</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2">
          <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2">
          <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2">
          <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2">
          <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2">
            <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</center>

<center>
  <div class="container">
    <h1>Recommended For You</h2>
    <div class="container">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-fluid">
    </div>
  </div>
</center>

<% include ./footer.ejs %>
