<% include ./header.ejs %>

<div class="container">
  <center>
    <h1>Most Popular Books</h1>
  </center>
    </div>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
    <div class="container">
  <div class="carousel-inner" role="listbox">


    <div class="item active">
        <div class="row col-sm-4">
      <img class="picture" src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi"
alt="Great book"></div>
        <h1>Ttitle</h1>
        <h3>Author</h3>
        <p>Summary</p>
    </div>

    <div class="item">
        <div class="row col-sm-4">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="Great book"></div>
        <h1>Ttitle</h1>
        <h3>Author</h3>
        <p>Summary</p>
    </div>

        <div class="item active">
        <div class="row col-sm-4">
      <img class="picture" src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi"
alt="Great book"></div>
        <h1>Ttitle</h1>
        <h3>Author</h3>
        <p>Summary</p>
    </div>

        <div class="item active">
        <div class="row col-sm-4">
      <img class="picture" src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi"
alt="Great book"></div>
        <h1>Ttitle</h1>
        <h3>Author</h3>
        <p>Summary</p>
    </div>

        <div class="item active">
        <div class="row col-sm-4">
      <img class="picture" src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi"
alt="Great book"></div>
        <h1>Ttitle</h1>
        <h3>Author</h3>
        <p>Summary</p>
    </div>

    </div>
    ...
  </div>
    </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <center>
  <div class="container">
    <h1>Most Checkedout Books</h1>
  <div class="container">
  <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
  <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
  <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
  <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
  <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
  </div>
  </div>
  </center>

  <center>
  <div class="container">
    <h1>Recommended For You</h2>
    <div class="container">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
      <img src="http://kirstygreenwood.typepad.com/.a/6a010536b33b69970b0168e6f8c089970c-pi" alt="..." class="img-thumbnail3">
    </div>
  </div>
  </center>


<% include ./footer.ejs %>
