<% include ./header.ejs %>

    <div class = row>
    <% for(var i = 0; i < list.length; i++){ %>
      <div class = "col-md-4">
        <a href="/book/<%=list[i].id%>">
          <BLOCKQUOTE>
          <h1>
            <%= list[i].title %>
          </h1>
          </blockquote>
            <center>
              <h6>
                  <%= list[i].author %>
              </h6>
            </center>
        </a>
      </div>
    <% } %>
    </div>

  <% include ./footer.ejs %>
