<% include ./header.ejs %>

<h1>Log in</h1>

<ol>
  <%for(var i = 0; i < list.length; i++){%>
    <li>
    [<%=list[i].osis%> | <%=list[i].cid%>],
    </li>
  <%}%>
</ol>
<!-- <form method="POST" action="login">
  <input type="text" name = "email" placeholder = "email" />
  <input type="text" name = "password" placeholder = "password"/>
  <br>

  <input type="submit"></input>
</form> -->

<% include ./footer.ejs %>
