<% include ./header.ejs %>

<h1>Log in</h1>


<form method="POST" action="login">
  <input type="text" name = "email" placeholder = "email" />
  <input type="text" name = "password" placeholder = "password"/>
  <br>

  <input type="submit"></input>
</form>

<% include ./footer.ejs %>
