<% include ./header.ejs %>

<h1>Sign Up</h1>

<input id="barcode" type="text" placeholder="osis scan" onblur="setFocus()"/>

<form method="POST" action="signUp">
  <input id="first" type="text" name = "first" placeholder = "first"/>
  <input id="last" type="text" name = "last" placeholder = "last"/>
  <input id="osis" type="text" name = "osis" placeholder = "osis"/>
  <!-- <br> -->
  <input type="submit"></input>
</form>

<% include ./footer.ejs %>
