<% include ./header.ejs %>

<h1>Sign Up</h1>

<form method="POST" action="signUp">
  <input type="text" name = "email" placeholder = "email" />
  <input type="text" name = "password" placeholder = "password"/>
  <!-- <br> -->

  <input type="submit"></input>
</form>

<% include ./footer.ejs %>
