<% include ./header.ejs %>

<h1>Sign Up</h1>

<input id="barcode2" type="text" placeholder="osis scan" onblur="setFocus()"/>

<form method="POST" action="signUp">
  <input type="text" name = "first" placeholder = "first" />
  <input type="text" name = "last" placeholder = "last"/>
  <input type="text" name = "osis" placeholder = "osis"/>
  <!-- <br> -->

  <input type="submit"></input>
</form>

<% include ./footer.ejs %>
