<% include ./header.ejs %>

    <h1>Submit</h1>
    <div class="jumbotron">
      <div class="container">
        <form method="POST" action="submit">

            <div class="form-group">
              <lable for="exampleInputTitle">Title:</lable>
              <input name = "title" type="text" class="form-control" placeholder="Title">
            </div>

            <div class="form-group">
              <lable for="exampleInputAuthor">Author:</lable>
              <input name="author" type="text" class="form-control" placeholder="Author">
            </div>

            <input class="btn btn-default btn-primary" type="submit">
        </form>
      </div>
    </div>

<% include ./footer.ejs %>
