 .img-responsive{
  width: 50%;
  height: 400px;
}

.img-thumbnail2{
  width: 11%;
  height: 200px;
}


.border{
  border: solid black 1px;
  height: 600px;
}

.img-thumbnail2{
  height: 150px;
}
.picture{
  margin-top: 20%
}
.thumbnail{
  width: 200px;
  float: left;
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 0px solid #73AD21;

.after-box{
    clear: left;
}

body {
  margin-top:10%;
  /*margin: 0px;*/
  padding: 0px;
}

.navbar-brand img {
  height: 50px;
  display: block;
  margin-top: -14px;
}

body > .container > {
  padding-top: 60px;
}

.page-footer {
  display: block;
  margin-top: 5em;
}

.page-footer p {
  margin-bottom: 15px;
  font-weight: bold;
}
.page-footer img {
  width: 25%;
  margin-left: 5em;
}

html {
  height: 100%;
  overflow: hidden;
}

.site {
  display: table;
  height: 100%;
  width: 100%;
}

.site-footer {
  display: table-row;
  height: 1px;
}
