.brow{
  margin-left:11px;
}

.book{
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 100%;
}

.selection h2{
  color:black;
}

.selection h5{
  color:black;
}

.selection{
  background-color:#66b3ff;
  border-radius:10px;
  margin:5px;
  box-shadow:6px 9px 30px 1px black;
}



body{
  background-color:#b3daff;
}

.space{
  margin-left:5%;
  margin-right:5%;
}

.img {
    width: 50%;
    height: auto;
}

.block{
  height:250px;
}
