<% include ../header.ejs %>

<h1>Sign up</h1>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Sign Up</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/User/Signup" method="POST">
        <div class="form-group">
            <label>Scan your OSIS to sign up</label>
            <input type="text" class="form-control" name="osis">
        </div>
            <input type="hidden" class="form-control" name="cid" value="1">

        <button type="submit" class="btn btn-warning btn-lg">Sign up</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/User/Signup">Signup</a></p>
    <p>Or go <a href="/">Home</a>.</p>

</div>
</div>
<% include ../footer.ejs %>
