<% include ../header.ejs %>

<h1>Sign Up</h1>

<!-- <input id="barcode" type="text" placeholder="osis scan" class="barcode osis"/> -->
<!-- <input id="barcode" type="text" placeholder="osis scan" class="barcode osis" >
<input id="barcode" type="text" placeholder="card ID scan" class="barcode cid" >
<br><br>

<form method="POST" action="/User/SignUp">
  <input id="osis" type="text" name = "osis" placeholder = "osis"/>
  <input id="cid" type="cid" name = "cid" placeholder = "cid"/>
  <div class="pull-right">
    <input class="btn btn-default btn-success" type="submit" value="Add">
  </div>
</form>
<br><br><br> -->

<div class="container c4">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Log in</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/User/Login" method="post">
        <div class="form-group">
            <label>Scan OSIS barcode to log in!</label>
            <input type="text" class="form-control" name="osis">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="cid" value="1">
          </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/User/Login">Login</a></p>
    <p>Or go <a href="/">Home</a>.</p>

</div>

</div>

<% include ../footer.ejs %>
