<% include ../header.ejs %>

    <div class="container">

        <h1>Add New Book</h1>

        <form method="POST" action="Add">

            <div class="row">
                <div class="form-group">
                    <label for="exampleInputTitle">Title:</label>
                    <input name = "title" type="text" class="form-control" placeholder="Title">
                </div>

                <div class="form-group">
                    <label for="exampleInputAuthor">Author:</label>
                    <input name = "author" type="text" class="form-control" placeholder="Author">
                </div>

                <div class="form-group">
                    <label for="exampleInputSummary">Summary:</label>
                    <textarea name="summary" type="text" class="form-control" placeholder="Summary"></textarea>
                </div>

            </div>

            <!-- ROW FOR SMALLER TB'S -->
            <div class="row">
                <div class="form-group col-xs-12 col-sm-12 col-md-4">
                    <label for="copiesAvailable">Number of Copies</label>
                    <input name="copiesAvailable" type="number" class="form-control" placeholder="##" />
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-4">
                    <label for="exampleInputSummary">Cover Type:</label>
                    <select name ="coverType" class="form-control">
                    </select>
                </div>

            </div>
            <div class="row">

                <div class="form-group">
                    <label for="exampleInputSummary">Publisher:</label>
                    <input name="publisher" type="text" class="form-control" placeholder="Publisher" value="publisher">
                </div>

                <div> </div>

                <div class="pull-right">
                    <button class="btn btn-default btn-danger">Cancel</button>
                    <input class="btn btn-default btn-success" type="submit" value="Add">
                </div>


            </div>
        </form>
      </div>


<% include ../footer.ejs %>
