<% include ../header.ejs %>

    <div class="container">
        
        <div class="page-header">
            <h1>Welcome User  <small>Check out </small></h1>
        </div>

        <div class="">
            <div class="">

                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="http://images.contentreserve.com/ImageType-400/1191-1/F83/894/C1/%7BF83894C1-A6F3-4136-B902-890E163C269B%7DImg400.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        <h1>Title:</h1>
                        <ul>The Heroes Of Olympus</ul>
                        <h1> Author: </h1>
                        <ul> Rick Riordan</ul>
                        <h1>  Books Available:</h1>
                        <ul>12/16 Copies</ul>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-default btn-lg " aria-label="Left Align">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>  
                        
                        <button type="button" class="btn btn-default btn-lg " aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>


            </div>

            <div class="info2 col-sm-9 col-md-9"> </div>
            
            
        </div>
    </div>

<% include ../footer.ejs %>