<% include ../header.ejs %>


<div class="container">
  <div class="row">
    <% for(var i = 0; i < list.length; i++){ %>
      <% if(user.osis == list[i].osis){ %>
        <%=list[i].isbn%>
      <%}%>
    <%}%>
  </div>
</div>


<% include ../footer.ejs %>
